<div class="row">
  <h1>Our projects</h1>
    <% @items.find_all('/projects/*.md').each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4 py-2">
        <div class="card">
          <a href="<%= project.identifier.without_ext %>">
            <img src="/images/<%= project[:logo] %>" alt="<%= project[:title] %> logo" class="card-img-top logo">
            <div class="card-body">
              <h5 class="card-title"><%= project[:title] %></h5>
              <p class="card-text"><%= project[:description] %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>