  <div class="row">
    <div class="col-12">
      <h1 class="page-title"><%= @item[:title] %></h1>
      <%= yield %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1 class="page-title">Our projects</h1>
      <div class="row">
        <% @items.find_all('/projects/*.md').each do |project| %>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <a href="<%= @config[:base_url] %><%= project.identifier.without_ext %>">
                <img src="<%= @config[:base_url] %>/images/<%= project[:logo] %>" alt="<%= project[:title] %> logo" class="card-img-top logo">
                <div class="card-body">
                  <h5 class="card-title"><%= project[:title] %></h5>
                  <p class="card-text"><%= project[:description] %></p>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
