<div class="d-flex justify-content-center">
  <div class="col-sm-12 col-md-8">
    <div class="row">
      <h1 class="page-title"><%= @item[:title] %></h1>
    </div>
    <div class="row">
      <img src="<%= @config[:base_url] %>/images/<%= @item[:logo] %>" alt="<%= @item[:title] %> logo" class="logo">
    </div>
    <%= yield %>
    <p>For more information check <a href="<%= @item[:docs_url] %>"><%= @item[:title] %> Documentation</a></p>
  </div>
</div>