  <div class="row">
    <div class="col-12 text-center">
      <h1 class="page-title"><%= @item[:title] %></h1>
      <img src="<%= @config[:base_url] %>/images/<%= @item[:logo] %>" alt="<%= @item[:title] %> logo" class="logo mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= yield %>
      <% if @item[:docs_url] %>
        <p class="mt-4"><a href="<%= @item[:docs_url] %>" class="btn btn-primary">View Documentation</a></p>
      <% end %>
    </div>
  </div>
